# for node backend
backend/node_modules
backend/.env
#for react frontend
frontend/node_modules
frontend/dist
frontend/.env
#for organizer
organizer/node_modules
organizer/dist
organizer/.env
# General
.DS_Store
.env