# for node backend
backend/node_modules
backend/.env
#for react frontend
frontend/node_modules
frontend/dist
frontend/.env
#for organizer
organizer-frontend/node_modules
organizer-frontend/dist
organizer-frontend/.env
# General
.DS_Store
.env