@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

 {
  box-sizing: border-box;
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}

body{
  font-family:"Rubik", sans-serif;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* login phone input css */
/* container */
.react-tel-input {
  font-family: inherit;
}
/* input field */
.react-tel-input .form-control {
  width: 100% !important;
  height: 52px;
  padding-left: 58px !important;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  box-shadow: none;
}

.react-tel-input .form-control:focus {
  border-color: #6748E4;
  box-shadow: 0 0 0 2px rgba(103, 72, 228, 0.15);
}

/* flag button */
.react-tel-input .flag-dropdown {
  border: none;
  background: transparent;
  border-radius: 14px 0 0 14px;
}

/* flag hover */
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown:hover {
  background: #f5f3ff;
}

/* country list dropdown */
.react-tel-input .country-list {
  border-radius: 12px;
  margin-top: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  max-height: 260px;
}

/* country item */
.react-tel-input .country-list .country {
  padding: 10px 14px;
  font-size: 14px;
}

/* selected & hover */
.react-tel-input .country-list .country:hover,
.react-tel-input .country-list .country.highlight {
  background: #ede9fe;
}

/* search box */
.react-tel-input .search-box {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  margin: 8px;
}

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scrollbar::-webkit-scrollbar {
            width: 6px;
        }
.custom-scrollbar::-webkit-scrollbar-track {
            background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
            background: #cfd3e7;
            border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
            background: #374151;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
            background: #b2b8d4;
}

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}

.shimmer {
  background: linear-gradient(
    90deg,
    #e5e7eb 25%,
    #f3f4f6 37%,
    #e5e7eb 63%
  );
  background-size: 200% 100%;
  animation: shimmer 1.8s infinite linear;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}